.site-layout-background {
  background: #fff;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 152px;
  height: 80px;
  margin: 0px 24px 0px 20px;
  background: url('./../img/logo.png') ;
}

.ant-layout-header {
  height: 64px;
  padding: 0 0px;
  color:#fff;
  line-height: 64px;
  background: #fff;
}
.userFeatures{
  float: right;
  order: 999;
}